/homework/java_testing/java/bin/
/homework/java_testing/java/.classpath
/homework/java_testing/java/.project
/homework/java_testing/java/.settings/
/homework/java_testing/.metadata/
/homework/python_testing/venv/
/homework/python_testing/.idea/
/**/__pycache__/